@font-face {
   font-family: 'iransans_bold';
   font-display: swap;
   src: url('file:///C:/Users/shafi/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-17_042117/fonts/iransans_bold/font.ttf');
}
